
.ba-intro-rows{
	background-color:  #ffffff;
	box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.23);
}
.ba-home-games, .ba-home-about {
	@include breakpoint(medium){
		display: flex;
	}
	&__image{
		background-size: cover;
		background-position: 50%;
		img{
			width: 100%;
			@include breakpoint(medium){
				visibility: hidden;
			}
		}
	}
	&__content{
		padding: 40px 50px;
	}
	&__title{
		text-align: center;
		margin-bottom: 40px;
	}
}
.ba-home-games{
	@include breakpoint(medium){
		&__image{
			order: 1;
		}
		&__content{
			width: 360px;
			order: 0;
			flex-shrink: 0;
		}
	}
}
.ba-home-about{
	@include breakpoint(medium){
		&__image{
			width: 360px;
			flex-shrink: 0;
		}
	}
}
