@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:300,400,400i,700,700i');
svg{
	display: inline-block;
	vertical-align: middle;
	@include ba-transition('fill, stroke');
}
a,
[type="submit"],
[type="button"],
button{
	@include ba-transition;
}

.site-header{
	position: absolute;
	left: 0;
	top: 50px;
	right: 0;
	z-index: 1;
}
.ba-page-title{
	text-transform: uppercase;
	color: #FFF;
}
