@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:300,400,400i,700,700i');
svg{
	display: inline-block;
	vertical-align: middle;
	@include ba-transition('fill, stroke');
}
a,
[type="submit"],
[type="button"],
button{
	@include ba-transition;
}
p{
	letter-spacing: 0.02em;
}
.button{
	text-transform: uppercase;
	font-weight: $header-font-weight;
	font-family: $header-font-family;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 1.3rem;
}
.site-header{
	position: absolute;
	left: 0;
	top: 50px;
	right: 0;
	z-index: 1;
}
.ba-page-title{
	text-transform: uppercase;
	color: #FFF;
	@include breakpoint(medium){
		font-size: 70px;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}
.main-content{
	padding: 40px 0;
}

.ba-intro{
	padding: 140px 0 80px;
	@include breakpoint(medium){
		padding: 280px 0;
	}

	text-align: center;
	position: relative;
	background: url("../img/home-intro-bg.jpg") #333 50% 0 no-repeat;
	background-size: cover;

	&--home{
		padding: 382px 0 420px;
		background-size: initial;
	}
	&__subtitle{
		color:  $primary-color;
		font-size: 25px;
		font-weight: 600;
	}
	&__body{
		position: relative;
		z-index: 1;
	}
	&:before{
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		content: "";
		background: rgba(0,0,0,.7);
		z-index: 0;
	}

	&--our-games{
		padding: 0;
		min-height: 100vh;
		&:before{
			background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 43%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 43%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 43%);
		}
	}
	&__logo{
		position: absolute;
		bottom: 0;
		left: 50%;
		z-index: 1;
		transform: translate(-50%, 0);
		@include breakpoint(large){
			transform: translate(-50%, 123px);
		}
	}
}

.ba-job{
	margin-bottom: 40px;
}
